.card {
  width: 95vw;
  min-height: 85vh;
  margin-left: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  font-size: 3vw;
  color: white;

  &__temperature,
  &__humidity,
  &__rain-sensor {
    width: 22vw;
    height: 35vh;
    font-weight: bold;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__temperature-title,
  &__humidity-title,
  &__rain-sensor-title {
    width: 20vw;
    height: calc(35vh + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to left top,
      rgba(34, 255, 255, 0.836),
      rgba(168, 175, 255, 0.9)
    );
  }
  &__temperature {
    background: #313842;
    z-index: 22;
    position: relative;
  }

  &__rain-sensor {
    .rain-sensor__image {
      width: 160px;
      height: 160px;
    }
  }

  .bordered {
    border-image-slice: 1;
    border-width: 5px;
  }

  .brd-top {
    border-top: 5px solid white;
  }
  .brd-bot {
    border-bottom: 5px solid white;
  }

  .border-gradient {
    border-image-source: linear-gradient(
      to left,
      rgba(187, 192, 247, 0.9),
      rgba(68, 241, 240, 0.7)
    );
  }

  .card__timestamp {
    width: 100%;
    height: 10%;
    color: white;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
  }

  .colored-timestamp {
    color: rgba(187, 192, 247, 0.9);
  }

  .card__measure-message {
    margin-top: 20px;
    color: rgba(168, 175, 255, 0.9);
    font-size: 1.5rem;
    text-align: center;
  }
}
